In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [31]:
dataset= pd.read_csv('ipl.csv', parse_dates= ['date'])

In [32]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76014 entries, 0 to 76013
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   mid             76014 non-null  int64
 1   date            76014 non-null  datetime64[ns]
 2   venue           76014 non-null  object
 3   bat_team        76014 non-null  object
 4   bowl_team       76014 non-null  object
 5   batsman         76014 non-null  object
 6   bowler          76014 non-null  object
 7   runs            76014 non-null  int64
 8   wickets         76014 non-null  int64
 9   overs           76014 non-null  float64
 10  runs_last_5     76014 non-null  int64
 11  wickets_last_5  76014 non-null  int64
 12  striker         76014 non-null  int64
 13  non-striker     76014 non-null  int64
 14  total           76014 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(8), object(5)
memory usage: 8.7+ MB

In [33]:
dataset.isnull().sum()

mid               0
date              0
venue             0
bat_team          0
bowl_team         0
batsman           0
bowler            0
runs              0
wickets           0
overs             0
runs_last_5       0
wickets_last_5    0
striker           0
non-striker       0
total             0
dtype: int64

In [34]:
dataset.head()

   mid       date                  venue  ... striker non-striker total
0    1 2008-04-18  M Chinnaswamy Stadium  ...       0           0   222
1    1 2008-04-18  M Chinnaswamy Stadium  ...       0           0   222
2    1 2008-04-18  M Chinnaswamy Stadium  ...       0           0   222
3    1 2008-04-18  M Chinnaswamy Stadium  ...       0           0   222
4    1 2008-04-18  M Chinnaswamy Stadium  ...       0           0   222

[5 rows x 15 columns]

In [35]:
dataset.drop(columns= ['mid', 'date', 'venue', 'batsman', 'bowler', 'striker', 'non-striker'], axis=1, inplace= True)

In [36]:
dataset.head()

                bat_team                    bowl_team  ...  wickets_last_5  total
0  Kolkata Knight Riders  Royal Challengers Bangalore  ...               0    222
1  Kolkata Knight Riders  Royal Challengers Bangalore  ...               0    222
2  Kolkata Knight Riders  Royal Challengers Bangalore  ...               0    222
3  Kolkata Knight Riders  Royal Challengers Bangalore  ...               0    222
4  Kolkata Knight Riders  Royal Challengers Bangalore  ...               0    222

[5 rows x 8 columns]

In [37]:
dataset['bat_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [38]:
dataset['bowl_team'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Mumbai Indians', 'Chennai Super Kings', 'Deccan Chargers',
       'Pune Warriors', 'Kochi Tuskers Kerala', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [39]:
consistent_teams = ['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
                    'Mumbai Indians', 'Kings XI Punjab', 'Royal Challengers Bangalore',
                    'Delhi Daredevils', 'Sunrisers Hyderabad']

In [40]:
dataset= dataset[(dataset['bat_team'].isin(consistent_teams)) & (dataset['bowl_team'].isin(consistent_teams))]

In [41]:
dataset['bat_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Kings XI Punjab', 'Royal Challengers Bangalore',
       'Delhi Daredevils', 'Sunrisers Hyderabad'], dtype=object)

In [42]:
dataset['bowl_team'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rajasthan Royals', 'Mumbai Indians',
       'Chennai Super Kings', 'Kolkata Knight Riders',
       'Sunrisers Hyderabad'], dtype=object)

In [43]:
dataset = dataset[dataset['overs']>=5.0]

In [44]:
dataset.head()

                 bat_team                    bowl_team  ...  wickets_last_5  total
32  Kolkata Knight Riders  Royal Challengers Bangalore  ...               0    222
33  Kolkata Knight Riders  Royal Challengers Bangalore  ...               1    222
34  Kolkata Knight Riders  Royal Challengers Bangalore  ...               1    222
35  Kolkata Knight Riders  Royal Challengers Bangalore  ...               1    222
36  Kolkata Knight Riders  Royal Challengers Bangalore  ...               1    222

[5 rows x 8 columns]

In [45]:
x= dataset.iloc[:, :-1]
y= dataset.iloc[:, -1]

In [46]:
print(x)

                    bat_team  ... wickets_last_5
32     Kolkata Knight Riders  ...              0
33     Kolkata Knight Riders  ...              1
34     Kolkata Knight Riders  ...              1
35     Kolkata Knight Riders  ...              1
36     Kolkata Knight Riders  ...              1
...                      ...  ...            ...
75884  Kolkata Knight Riders  ...              4
75885  Kolkata Knight Riders  ...              4
75886  Kolkata Knight Riders  ...              4
75887  Kolkata Knight Riders  ...              4
75888  Kolkata Knight Riders  ...              5

[40108 rows x 7 columns]

In [47]:
x= pd.get_dummies(data=x, columns=['bat_team', 'bowl_team'])

In [48]:
x.head()

    runs  ...  bowl_team_Sunrisers Hyderabad
32    61  ...                              0
33    61  ...                              0
34    61  ...                              0
35    61  ...                              0
36    61  ...                              0

[5 rows x 21 columns]

In [49]:
y.head()

32    222
33    222
34    222
35    222
36    222
Name: total, dtype: int64

In [50]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 1)

In [51]:
print(x_train)

       runs  ...  bowl_team_Sunrisers Hyderabad
71852   135  ...                              0
49632    24  ...                              0
42527    68  ...                              0
65475   105  ...                              0
18952   142  ...                              0
...     ...  ...                            ...
14505    39  ...                              0
59338    79  ...                              0
9328    133  ...                              0
23558   124  ...                              0
59983   133  ...                              0

[32086 rows x 21 columns]

In [52]:
print(x_test)

       runs  ...  bowl_team_Sunrisers Hyderabad
38893   132  ...                              0
27307   128  ...                              0
56314    81  ...                              0
6655     30  ...                              0
20532    76  ...                              0
...     ...  ...                            ...
54911    76  ...                              0
52219    80  ...                              0
40417    33  ...                              0
38323    30  ...                              0
44919    89  ...                              0

[8022 rows x 21 columns]

In [53]:
print(y_train)

71852    142
49632     70
42527    159
65475    185
18952    160
        ...
14505    164
59338    189
9328     145
23558    195
59983    201
Name: total, Length: 32086, dtype: int64

In [54]:
print(y_test)

38893    156
27307    163
56314    164
6655     112
20532    133
        ...
54911    173
52219    157
40417    165
38323    187
44919    161
Name: total, Length: 8022, dtype: int64

In [55]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 850, random_state = 0)
regressor.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=850, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [56]:
y_pred = regressor.predict(x_test)

In [57]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9391087996184139